[user]
	name = Nathan Buckner
	email = bucknerns@gmail.com
[alias]
	lg = log --graph --abbrev-commit --decorate --format=format:'%C(yellow)%h%C(reset) %C(normal)%s%C(reset) %C(dim white)%an%C(reset) %C(dim blue)(%ar)%C(reset) %C(auto)%d%C(reset)'
	lgp = log --pretty=oneline --abbrev-commit --decorate -p
	ds = diff --stat
